/* Global styles */
body {
  background: rgb(79,7,121);
  background: radial-gradient(circle, rgba(79,7,121,1) 0%, rgba(6,23,59,1) 96%); 
  font-family: 'Roboto', sans-serif !important;
}

/* Specific component styles */
.MuiCard-root.filter-card {
  background-color: #000816 !important;
  color: #ffffff !important;
}
